.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--darkgrey);
}

.hero .container {
    max-width: 1240px;
    padding: 0 1rem;
    margin: auto;
}

.hero .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .col-1 {
    padding: 1rem 1rem 1rem 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .col-1 h1 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}

.hero .col-1 p {
    font-size: 1rem;
    color: var(--grey);
    line-height: 1.4;
    margin-top: 1.2rem;
}

.hero .used-by p {
    color: var(--lightgrey);
    font-size: 12px;
    margin: 2rem 0 1rem 0;
}

.hero .col-1 .icons i {
    color: var(--grey);
    padding-right: 1rem;
}


.hero .col-2 {
    padding: 1rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8rem;
}

.hero .col-2 p {
    color: var(--grey);
}

.hero .form-layout {
    width: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
}

.hero .form-container {
    padding: 1.5rem 2rem;
}

.hero .sign-in-txt {
    margin-bottom: 10px;
}

.social-login i {
    background-color: #fff;
    padding: 16px 45px 6px 45px;
    border: 1px solid var(--lightgrey);
    border-radius: 4px;
}


.col-2 .divider p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--lightgrey);
    line-height: .1em;
    margin: 2rem 0 2rem;
}

.col-2 .divider p span {
    background-color: #fff;
    padding: 0 10px;
}

form input {
    display: block;
    width: 100%;
    margin: 1.2rem 0;
    padding: 8px;
    border: 1px solid var(--lightgrey);
    border-radius: 4px;
}

.hero .form-footer {
    border-top: 1px solid var(--lightgrey);
    background-color: #f8f8f8;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-footer p {
    padding: 1.5rem 2rem;
}

.form-footer span {
    font-weight: 500;
}

@media screen and (max-width:960px) {
    .hero {
        height: auto;
        width: 100%;
    }

    .hero .container {
        padding: 0 1rem;
    }

    .hero .content {
        grid-template-columns: 1fr;
    }

    .hero .col-1 {
        height: 90vh;
        padding: .2rem;
        max-width: 100%;
    }

    .hero h1 {
       font-size: 32px;
    }

    .hero .col-2 {
        display: none;
    }

    
}
