header {
    width: 100%;
    height: 100px;
    background-color: var(--darkgrey);
}

header .navbar {
    max-width: 1240px;
    height: 100%;
    padding: 0 1rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width:80px;
    height: auto;
}

.hamburger {
    display: none;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-self: start;
}

.nav-item {
    padding: 0 1.5rem;
}

.nav-link {
    color: #fff;
}

@media screen and (max-width:960px) {
    .hamburger {
        display: block;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        background-color: var(--darkgrey);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.4s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
        font-size: 1.8rem;
    }
}






